.container {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
#tittle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(14, 143, 100, 0.74);
    margin-bottom: 2%;
    text-transform: uppercase;
}
.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.largInput {
    width: 70vw;
}
span {
    width: 10vw;
}
#total , li{
    margin-top: 3%;
    font-size: 2vw;
    
}